ul.md-source__facts {
    display: none;
}

.md-header {
    display: block !important;
}

[dir="ltr"]  .md-header__title {
    margin-left: 0;
}

div.md-nav__title {
    display: none;
}

@media print {
    .md-typeset h1,
    .md-typeset h2,
    .md-typeset h3,
    .md-typeset h4,
    .md-typeset h5
    {
        color: black;
    }
}

img[alt="Petr Kratochvíl's vCard QR code"] {
    width: 64px;
}
