ul.md-source__facts {
    display: none;
}

.md-header {
    display: block !important;
}

[dir="ltr"]  .md-header__title {
    margin-left: 0;
}

img[alt="Petr Kratochvíl's vCard QR code"] {
    width: 64px;
}

nav.md-nav--primary label.md-nav__title {
    display: none;
}

header div.md-header__ellipsis {
    text-align: center;
}

header div.md-header__topic {
    width: 100%;
}

header span.md-ellipsis {
    width: 100%;
}

h1#intro {
    font-size: 0;
    margin-top: -2rem;
}

h2#donate-me + div.md-typeset__scrollwrap thead tr,
h2#personal-data + div.md-typeset__scrollwrap thead tr,
h2#osobni-udaje + div.md-typeset__scrollwrap thead tr
{
    display: none;
}

h1, h2, h3, h4, h5 {
    break-inside: avoid;
    page-break-inside: avoid;
    break-after: avoid;
    page-break-after: avoid;
}

table {
    break-inside: avoid;
    page-break-inside: avoid;
    break-before: avoid;
    page-break-before: avoid;
}

@media print {
    .md-typeset h1,
    .md-typeset h2,
    .md-typeset h3,
    .md-typeset h4,
    .md-typeset h5
    {
        color: black;
    }

    header div.md-header__topic {
        padding-right: 4rem;
    }
}
